<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hector.invoice"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="5"
        android:targetSdkVersion="8" />

    <permission
        android:name="com.hector.invoice.view.common.permission.Ac"
        android:protectionLevel="dangerous" >
    </permission>
    <permission
        android:name="com.hector.invoice.common.action"
        android:description="@string/app_permision_info"
        android:label="@string/app_permision_name"
        android:protectionLevel="dangerous" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.VIBRATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver
            android:name="com.hector.invoice.common.action"
            android:enabled="true" >
        </receiver>

        <activity
            android:name=".views.TabExportInvoiceOrder"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:permission="com.hector.invoice.view.common.permission.Ac" >
        </activity>
        <activity
            android:name=".views.InputInvoiceView"
            android:configChanges="orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.ContactlistView"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:permission="com.hector.invoice.view.common.permission.Ac" >
        </activity>
        <activity
            android:name=".views.CompanyInfoView"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:permission="com.hector.invoice.view.common.permission.Ac" >
        </activity>
        <activity
            android:name=".views.CreateUpdateContactInfoView"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:permission="com.hector.invoice.view.common.permission.Ac" >
        </activity>
        <activity
            android:name=".views.InvoiceOrderListView"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:permission="com.hector.invoice.view.common.permission.Ac" >
        </activity>
    </application>

</manifest>