<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hector.invoice"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="5"
        android:targetSdkVersion="17" />

    <permission
        android:name="com.dev.meinewerk.action"
        android:description="@string/app_permision_info"
        android:label="@string/app_permision_name"
        android:protectionLevel="dangerous" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver
            android:name="com.hector.invoice.common.action"
            android:enabled="true" >
        </receiver>

        <activity
            android:name="com.hector.invoice.views.InputInvoiceView"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hector.invoice.views.ContactlistView"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.hector.invoice.views.CompanyInfoView"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.hector.invoice.views.CreateUpdateContactInfoView"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.hector.invoice.views.InvoiceOrderListView"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>